<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card flat>
          <v-img :src="require('../assets/helloWorld.gif')" contain />
          <v-card-title>Exercice</v-card-title>
          <v-card-subtitle> Un peu de pratique ne fait pas de mal </v-card-subtitle>
           <v-card-text>
            Dans le dossier "src/components", vous allez créer un dossier "exercice".
            L'ensemble des composants que nous allons créer pour cet atelier devront être créer dans ce répertoire.
           </v-card-text>
          <v-expansion-panels flat>
            <v-expansion-panel>
              <v-expansion-panel-header> Partie 1 : Template</v-expansion-panel-header>
              <v-expansion-panel-content>
                
                Nous allons commencer par la creation de la partie template d'une calculatrice classique. 
                Cette calculatrice est une calculatrice graphique avec des boutons, et une zone pour afficher le résultat.
                Les opérations basiques y seront disponible (+,-,/,x) et le bouton (=).
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header> Partie 2 : Script </v-expansion-panel-header>
              <v-expansion-panel-content>
                Ajoutons la partie javascript. Implémentons le code nécessaire pour qu'au clic sur le bouton (=), on obtient le résultat.
                Ajoutons également le bouton (C) pour remettre à zéro la calculatrice.
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header> Partie 3 : Events</v-expansion-panel-header>
              <v-expansion-panel-content>
                Ajoutons un historique des commandes.
                Créez un nouveau composant qui permet de gérer l'historique des commandes qui lui seront transmises par $emit depuis le composant de votre calculatrice.
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header> Partie 4 : Pimp my calculator</v-expansion-panel-header>
              <v-expansion-panel-content>
                Lachez vous et montrez de quoi vous êtes capable. Comment améliorerez vous cette calculatrice ?
                Des pistes: lecture des évènements clavier, ajout de commandes multiples du genre 1+2x3 avec la gestion des priorités ...
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>Liens utiles</v-card-title>
          <v-expansion-panels flat style="font-size:0.8em !important">
            <v-expansion-panel>
              <v-expansion-panel-header> Ecosysteme </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-list dense>
                  <v-list-item
                    dense
                    v-for="link in ecosystem"
                    :key="link.text"
                    :href="link.href"
                    target="_blank"
                  >
                    <v-list-item-icon class="mx-1">
                      <v-icon>mdi-link</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title v-text="link.text"></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header>
                Liens importants
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-list dense>
                  <v-list-item
                    dense
                    v-for="link in importantLinks"
                    :key="link.text"
                    :href="link.href"
                    target="_blank"
                  >
                    <v-list-item-icon class="mx-1">
                      <v-icon>mdi-link</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title v-text="link.text"></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header> Et aprés ? </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-list dense>
                  <v-list-item
                    dense
                    v-for="link in whatsNext"
                    :key="link.text"
                    :href="link.href"
                    target="_blank"
                  >
                    <v-list-item-icon class="mx-1">
                      <v-icon>mdi-link</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title v-text="link.text"></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>  
          
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "HelloWorld",

  data: () => ({
    ecosystem: [
      {
        text: "Documentation vue",
        href: "https://fr.vuejs.org/",
      },
      {
        text: "Documentation vuetify",
        href: "https://vuetifyjs.com/en/",
      },
    ],
    importantLinks: [
      {
        text: "Communauté Vue.JS",
        href: "https://discord.com/invite/HBherRA",
      },
      {
        text: "Communauté Vuetify",
        href: "https://community.vuetifyjs.com",
      },
      {
        text: "Made with Vuetify",
        href: "https://madewithvuejs.com/vuetify",
      },
      {
        text: "Articles",
        href: "https://medium.com/vuetify",
      },
    ],
    whatsNext: [
      {
        text: "Explore Vuetify components",
        href: "https://vuetifyjs.com/components/api-explorer",
      },
      {
        text: "Frequently Asked Questions",
        href:
          "https://vuetifyjs.com/getting-started/frequently-asked-questions",
      },
    ],
  }),
};
</script>
