<template>
  <v-container fluid class="fill-height">
    <v-row class="fill-height">
      <v-col cols="12" >
        <v-card class="fill-height d-flex align-content-center flex-wrap"> 
            <v-card flat min-width="100%">
                <!-- -->
                <v-row>
                    <v-col cols="6" offset="3" class="text-center">
                        <v-img :src="require('../assets/sandBox.png')" style="opacity: 0.7;" />
                        Bac à sable. Ici commence votre expérience Vue ...
                    </v-col>
                </v-row>
                <!-- -->
            </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {};
</script>

<style>
</style>