<template>
  <v-app>
    <v-app-bar app dense dark class="elevation-10">
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="30"
        />
        <v-img
          alt="Vue Logo"
          class="shrink mr-2"
          contain
          src="https://vuejs.org/images/logo.png"
          transition="scale-transition"
          width="30"
        />
        Formation Vue.JS, les bases
      </div>
    </v-app-bar>

    <v-main>
      <v-row class="fill-height " no-gutters>
        <v-col cols="3" class="my-auto">
          <HelloWorld />
        </v-col>
        <v-col cols="9">
          <HelloExercise />
        </v-col>
      </v-row>
    </v-main>
  </v-app>
</template>

<script>
import HelloWorld from "./components/HelloWorld";
import HelloExercise from "./components/HelloExercise";

export default {
  name: "App",

  components: {
    HelloWorld,
    HelloExercise,
  },

  data: () => ({
    //
  }),
};
</script>

<style lang="css">
body {
  background-color: #0090fd;
}
#app {
  background-color: #0090fd;
}
</style>
